myenv/
venv/

Task1/saved_model/
Task2/models/
Task3/fine_tuned_model/
model.safetensors/

*.safetensors
*.bin

__pycache__/
*.pyc

.ipynb_checkpoints/

*.safetensors
*.pt
*.pth
*.bin

logs/
runs/
*.tfevents.*

*.png
